<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Trading Website</title>
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
<%- include('../partials/header.ejs')%>
<div class = "profile-info">
        <p>Manage offer: </p>
        <table>
            <tr>
                <td>
                    <p><%=trade.title %></p><br>
                    <img src='<%=trade.imgurl %>'/>
                </td>
                <td>
                    <p><%= item.title %></p><br>
                    <img src='<%=item.imgurl %>'/>
                </td>
                <td>
                    <form>
                        <% if(initiated){ %>
                            <button type="submit" formmethod="POST" formaction="/tradeRoutes/canceloffer/<%=trade._id%>">Cancel Offer</button>
                        <% } else { %>
                            <button type="submit" formmethod="POST" formaction="/tradeRoutes/acceptoffer/<%=trade._id%>">Accept</button>
                            <button type="submit" formmethod="POST" formaction="/tradeRoutes/canceloffer/<%=trade._id%>">Reject</button>
                        <% } %>
                    </form>
                </td>
            </tr>
        </table>
</div>
<%- include('../partials/footer.ejs')%>
  </body>
</html>
